---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact Us',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Contact Us"
    title="Let’s Elevate Your Digital Presence"
    subtitle="Whether you have a question, need a custom strategy, or want to explore our services, we’re here to help. Reach out today!"
  />

  <!-- Contact Form ******************* -->

  
  <CallToAction
  actions={[
    {
      variant: 'primary',
      text: 'Get Started Now',
      href: 'https://formspree.io/f/xrbbggda', // Assuming your form has an ID of 'contact-form'
      target: '_self',
      icon: 'tabler:form',
    },
  ]}
>
  <Fragment slot="title">
    Turbocharge Your Business with<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Target Rank SEO</span>
  </Fragment>

  <Fragment slot="subtitle">
    Ready to take your digital presence to the next level? Fill out the form below and let’s get started! 🚀
  </Fragment>
</CallToAction>
  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `Chat with us for inquiries related to account management, website navigation, payment issues, accessing purchased templates or general questions about the website's functionality.`,
      },
      {
        title: 'Contact sales',
        description:
          'Chat with us for questions about purchases, customization options, licensing for commercial use, inquiries about specific template, etc.',
      },
      {
        title: 'Phone',
        description: '+1 (586) 383-5131',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'contact@targetrankseo.com',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
